<div class="row"> 
  <div>
        <br>
        <br>
      <!-- <h2>Read Data: </h2> -->
      <table class="table table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Password</th>
            <th>Xp</th>
            <th>Active?</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index">
            <!--<td>{{employee._id}}</td>-->
            <td>{{user._id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.surname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
            <td>{{user.exp}}</td>
            <td>{{user.active}}</td>
            <td>
              <a (click)="editarUser(i)" class="btn btn-success">
                Edit
              </a>
              <a (click)="eliminarUser(user._id)" class="btn btn-danger">
                Delete
              </a>
              <a (click)="deshabilitarUser(user._id)" class="btn btn-warning">
                Disable
              </a>
            </td>
          </tr>
        </tbody>
      </table>  
    </div> 
  </div>