<div class="row"> 
  <div>
    <br>
      <div>
          <input 
              type="text" 
              class="form-control" 
              id="test" 
              name="filter" [(ngModel)]="searchText"
              placeholder="Filtra por nombre...">
      </div>
      <br>
        <table class="table table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Correo eletrónico</th>
              <th>Contraseña</th>
              <th>EXP</th>
              <th>Activado</th>
            </tr>
          </thead>
        <tbody>
          <tr *ngFor="let user of users | appFilter:searchText | paginate : {
                  itemsPerPage: nPerPage,
                  currentPage: pageNumber,
                  totalItems: count
                }, let i = index">
            <td>{{user._id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.surname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
            <td>{{user.exp}}</td>
            <td>{{user.active}}</td>
            <td>
              <a (click)="editarUser(i)" class="btn btn-success">
                Editar
              </a>
              <a *ngIf="user.active" (click)="deshabilitarUser(user._id)" class="btn btn-warning">
                Deshabilitar
              </a>
              <a *ngIf="!user.active" (click)="habilitarUser(user._id)" class="btn btn-warning">
                Habilitar
              </a>
                <a class="btn btn-danger"
                  mwlConfirmationPopover
                  [popoverTitle]="popoverTitle"
                  [popoverMessage]="popoverMessage"
                  placement="left"
                  (confirm)="eliminarUser(user._id)"
                  (cancel)="cancelClicked=true">
                  Eliminar
                </a>
              </td>
            </tr>
          </tbody>
        </table> 
      <div class="d-flex justify-content-center">
        <pagination-controls
          (pageChange)="renderPage($event)">
        </pagination-controls>
        <a>
          <select (change)="renderSize($event)">
            <option *ngFor="let size of tableSizes">
              {{size}}
            </option>
          </select>
        </a>
      </div> 
    <div>
  </div>
</div>