<div class="row">
    <div class="col-sm-8">
        <br>
      <!-- <h2>Read Data: </h2> -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Password</th>
            <th>Xp</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index">
            <!--<td>{{employee._id}}</td>-->
            <td>{{user._id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.surname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
            <td>{{user.xp}}</td>
            <td>
              <a (click)="editarUser(i)" class="btn btn-success">
                Edit
              </a>
              <a (click)="eliminarUser(user._id)" class="btn btn-danger">
                Delete
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>    
  </div>