<div class="row">
  <div >
      <br>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Description</th>
              <th>EXP</th>
              <th>Latitude</th>
              <th>Longitude</th>
            </tr>
          </thead>
        <tbody>
          <tr *ngFor="let challenge of challenges | paginate: {
                  itemsPerPage: nPerPage,
                  currentPage: pageNumber,
                  totalItems: count
                }, let i = index">
            <td>{{challenge._id}}</td>
            <td>{{challenge.name}}</td>
            <td>{{challenge.descr}}</td>
            <td>{{challenge.exp}}</td>
            <td>{{challenge.lat}}</td>
            <td>{{challenge.long}}</td>
            <td>
              <a (click)="editarChallenge(i)" class="btn btn-success">
                Edit
              </a>
              <a class="btn btn-danger"
                mwlConfirmationPopover
                [popoverTitle]="popoverTitle"
                [popoverMessage]="popoverMessage"
                placement="left"
                (confirm)="eliminarChallenge(challenge._id)"
                (cancel)="cancelClicked=true">
                Delete
              </a>  
            </td>
          </tr>
        </tbody>
      </table>
    <div class="d-flex justify-content-center">
      <pagination-controls
        (pageChange)="renderPage($event)">
      </pagination-controls>
      <a>
        <select (change)="renderSize($event)">
          <option *ngFor="let size of tableSizes">
            {{size}}
          </option>
        </select>
      </a>
    </div> 
  </div>
</div>  