<div class="login">
  <ng-container *ngIf="show">

    <form class="custom-form" method="post">
      <h1>Iniciar sesión</h1>
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Correo electrónico"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Contraseña"
        required="required"
      />
      <button type="submit" (click)="login2(email, password)">Iniciar</button>
    </form>
  </ng-container>
  </div>